@font-face {
    font-family: pressStart;
    src: url(fonts/PressStart2P-Regular.ttf);
}
#wrapper {
    margin: 0 -15%;
    padding: 0 50%;
    height: 100%;
    width: 0%;
    position: relative;
    zoom: 1.0;
    image-rendering: pixelated;
}
#screen, #title {
    padding: 0;
    margin: 0;
    width:320px;
    height:320px;
    background-color:#464646;
    position:relative;
    color:#FFF;
    font-size:16px;
    font-family: pressStart, "Courier New", Courier, monospace;
    letter-spacing:1px;
    display: none;
}
#screen {
    font-size:16px;
    font-weight:bold;
}
#title {
    text-align: center;
}
#title p {
    margin: 0;
    padding: 0;
    top: 50%;
    position: relative;
}
.small {
    font-size: 10px;
    line-height: 30px;
}
#score {
    padding: 0;
    margin: 0;
    width:320px;
    height: 320px;
    color:#FFF;
    font-size:12px;
    font-family: pressStart, "Courier New", Courier, monospace;
    position: absolute;
    text-align: right;
    font-weight: normal;
}
#score p {
    margin: 0;
    padding: 0;
    top: 297px;
    right: 10px;
    position: relative;
}